<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brani della Playlist</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <a href="{{ url_for('home.home_page') }}">Home</a>
                <a href="{{ url_for('home.search') }}">Search</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
            </nav>
        </header>
        <h1>Brani della Playlist <p>{{ nome }}</p></h1>

        {% if brani %}
        <div class="track-list">
            {% for brano in brani %}
            <div class="track">
                <img src="{{ brano['track']['album']['images'][0]['url'] }}" alt="Copertina album">
                <div class="track-info">
                    <p class="track-name">{{ brano['track']['name'] }}</p>
                    <p><strong>Album:</strong> {{ brano['track']['album']['name'] }}</p>
                    <p><strong>Artista:</strong> 
                        {% for artist in brano['track']['artists'] %}
                        <a href="/artist/{{ artist['id'] }}">{{ artist['name'] }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="no-tracks">Non ci sono brani in questa playlist.</p>
        {% endif %}

        <div class="graphs">
            <h2>Analisi della Playlist</h2>
            <img src="data:image/png;base64,{{ distribuzione_anni }}" alt="Distribuzione Anni">
            <img src="data:image/png;base64,{{ distribuzione_durate }}" alt="Distribuzione Durata">
            <img src="data:image/png;base64,{{ distribuzione_popolarita }}" alt="Distribuzione Popolarità">
        <!--<img src="data:image/png;base64,{{ distribuzione_generi }}" alt="Distribuzione Generi">-->
            <img src="data:image/png;base64,{{ evoluzione_popolarita }}" alt="Evoluzione Popolarità">
        </div>
    </div>
</body>

</html>