<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profilo Utente</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('home.home') }}">Home</a>
                <a href="{{ url_for('home.search') }}">Search</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <a href="{{ url_for('auth.login') }}">Collega Spotify</a>
            </nav>
        </header>
        <h1>Benvenuto, {{ current_user.username }}!</h1>
        {% if user_info['images'] %}
            <img src="{{ user_info['images'][0]['url'] }}" width="200" alt="Immagine profilo">
        {% endif %}
        <h2>Le tue Playlist:</h2>
        {% if playlists %}
            <table>
            <thead>
                <tr>
                    <th>Nome Playlist</th>
                    <th>Numero di Brani</th>
                    <th>Copertina</th>
                    <th>Visualizza Brani</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist['name'] }}</td>
                    <td>{{ playlist['tracks']['total'] }}</td>
                    <td>
                        {% if playlist['images'] %}
                        <img src="{{ playlist['images'][0]['url'] }}" width="50" alt="Copertina playlist">
                        {% else %}
                        Nessuna immagine
                        {% endif %}
                    </td>
                    <td><a href="/playlist/{{ playlist['id'] }}">Vedi Brani</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>Non hai playlist disponibili.</p>
            {% endif %}

            <div class="navbar">
                <form action="{{ url_for('home.search') }}" method="GET">
                    <input type="text" name="query" placeholder="Cerca artista o brano" required>
                    <button type="submit">Cerca</button>
                </form>
            </div>
            
            {% if results %}
                <div class="search-results">
                    <ul>
                        {% for result in results %}
                            <li>
                                <img src="{{ result.image_url }}" alt="{{ result.name }}">
                                <a href="{{ result.spotify_url }}" target="_blank">{{ result.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p style="text-align: center; color: white;">Nessun risultato trovato.</p>
            {% endif %}

            <script>
                function search() {
                    const query = document.getElementById("searchQuery").value;
                    if (query.trim() !== "") {
                        window.location.href = `/search?query=${query}`;
                    }
                }
            </script>
    </body>
</html>