<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profilo Utente</title>
        <link rel="stylesheet" href="../static/css/home-page.css">
    </head>
    
    <body>
        <br><br>
        <div class="container">
            <h1>Benvenuto su Spotify</h1>
            {% if is_logged_in %}
            <a href="{{ url_for('account.my_account') }}" class="login-btn">IL MIO ACCOUNT</a>
            {% endif %}
        </div>
        
        <div class="main-content">
            <p>VERSIONE GRATIS</p>
            
            {% if is_logged_in %}
                <a href="{{ url_for('home.home') }}" class="connect-spotify">Collega Spotify</a>
                <a href="{{ url_for('account.logout') }}" class="logout-btn">Logout</a>
            {% else %}
                <a href="{{ url_for('account.accesso') }}" class="login-btn">Login</a>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <p class="{{ category }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="navbar">
                <form action="{{ url_for('home.search') }}" method="GET">
                    <input type="text" name="query" placeholder="Cerca artista o brano" required>
                    <button type="submit">Cerca</button>
                </form>
            </div>
            
            {% if results %}
                <div class="search-results">
                    <h2>Le playlist pubbliche corrispondenti:</h2>
                    <ul>
                        {% for result in results %}
                            <li>
                                <img src="{{ result.image_url }}" alt="{{ result.name }}">
                                <a href="{{ url_for('home.playlist_details', playlist_id=result.id) }}">{{ result.name }}</a>
                                <input type="checkbox" class="playlist-checkbox" value="{{ result.id }}">
                                {% if is_logged_in %}
                                <a href="{{ url_for('home.add_playlist', playlist_name=result.name, playlist_id=result.id) }}" class="add-playlist">➕</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p style="text-align: center; color: white;">Nessun risultato trovato.</p>
            {% endif %}

            {% if recommended_tracks %}
                <div class="recommended-tracks">
                    <h2>Consigliati per te (Trap)</h2>
                    <ul>
                        {% for track in recommended_tracks %}
                            <li>
                                <img src="{{ track.image_url }}" alt="cover" style="width:50px;height:50px;">
                                <a href="{{ track.spotify_url }}" target="_blank">{{ track.name }}</a> - {{ track.artist }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </body>
    </html>