
<head>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="inizio">
        <h1>Accesso</h1>
        <form method="POST">
            <label>Nome Utente:</label><br>
            <input type="text" name="username" required><br>
            <label>Password:</label><br>
            <input type="password" name="password" required><br>
            <button type="submit">Accedi</button>
            {% if error %}
            <p class="errore" style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
        <a href="{{ url_for('account.register') }}">Non hai un account? Registrati qui.</a>
    </div>

    <!-- Bottoni "Torna alla Home" -->
    <div class="button-container">
        <a href="{{ url_for('home.home_page') }}" class="home-btn">Torna alla Home</a>
    </div>
</body>
